$color-primary: #555A61;
$color-secondary: #36393F;
$color-dark-background: #26262B;
$color-highlight-blue: #788FE2;
$color-highlight-blue-dark: #646fce;
$color-highlight-red: #880000;
$color-text: #E7E7E7;
$color-light-background: #C4C4C4;
