@import "./breakpoints";
@import "./colors";
@import "./text";

.confirmButton {
	@include text($size: normal);
	width: 50%;
	white-space: normal;
	background-color: $color-highlight-blue;
	border-radius: 28px;
	border: 1px solid $color-secondary;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 5px 30px;
	text-decoration: none;
	text-shadow: 0px 1px 0px $color-secondary;

	@include breakpoint(xl-min) {
		width: 100%;
	}
}
.confirmButton:hover {
	background-color: $color-highlight-blue-dark;
}
.confirmButton:active {
	position: relative;
	top: 1px;
}

.forgotButton {
	width: 50%;
	white-space: normal;
	background-color: #7892c2;
	border-radius: 28px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 5px 30px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;

	@include breakpoint(xl-min) {
		width: 100%;
	}
}
.forgotButton:hover {
	background-color: #476e9e;
}
.forgotButton:active {
	position: relative;
	top: 1px;
}

.loginContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	@include breakpoint(sm-min) {
		flex-direction: column;
		padding-left: 20pt;
		padding-right: 20pt;
	}

	@include breakpoint (md-min) {
		flex-direction: row;
		padding-left: 50pt;
		padding-right: 50pt;
	}

	@include breakpoint (lg-min) {
		flex-direction: column;
		padding-left: 50pt;
		padding-right: 50pt;
	}

	@include breakpoint (xl-min) {
		flex-direction: column;
		padding-left: 50pt;
		padding-right: 50pt;
	}
}

.labelContainer {
	flex-direction: row;
	flex: 3;
	margin: 0pt 10pt 0pt 0pt;
}
.inputLabel {
	width: 100%;
	text-align: left;
	@include breakpoint(lg-min) {
		text-align: right;
	}
}

.textFieldContainer {
	margin: 0;
	flex: 5;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.customTextField {
	width: 100%;
	margin: 0;
	border: 1px solid black;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.inputRow {
	display: flex;
	padding: 10pt;
	margin: 0pt;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: stretch;

	// align-self: center;
	// justify-self: center;
	flex-grow: 1;
	@include breakpoint(sm-min) {
		flex-direction: column;
	}
	@include breakpoint(md-min) {
		flex-direction: column;
	}

	@include breakpoint(lg-min) {
		flex-direction: row;
	}

	@include breakpoint(xl-min) {
		flex-direction: row;
	}
}

.buttonContainer {
	display: flex;
	padding: 10pt;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	@include breakpoint(sm-min) {
		flex-direction: row;
	}

	@include breakpoint(md-min) {
		flex-direction: column;
		flex-grow: 2;
	}

	@include breakpoint(lg-min) {
		flex-direction: column;
		flex-grow: 1;
		
	}

	@include breakpoint(xl-min) {
		flex-direction: row;
		flex-grow: 1;
	}
}
