
@{
    ViewBag.Title = "Login";
}



    <h2>Login</h2>

<div>
    <div class="loginContainer">
        <div class="inputContainer">
            <div class="inputRow">
                <div class="labelContainer">
                    <label class="inputLabel">Username</label>
                </div>
                <div class="textFieldContainer">
                    <input class="customTextField"></input>
                </div>
                

            </div>
            <div class="inputRow">
                <div class="labelContainer">
                    <label class="inputLabel">Email</label>
                </div>
                <div class="textFieldContainer">
                    <input class="customTextField"></input>
                </div>

            </div>
            <div class="inputRow">
                <div class="labelContainer">
                    <label class="inputLabel">Password</label>
                </div>
                <div class="textFieldContainer">
                    <input type="password" class="customTextField"></input>
                </div>

            </div>
        </div>
        
        <div class="buttonContainer">
            <button class="confirmButton" style="margin: 10px;">Login</button>
            <button class="cancelButton" style="margin: 10px;">Forget Password</button>
            <button class="confirmButton" style="margin: 10px;">Sign up</button>
        </div>
    </div>
</div>


