
@{
    ViewBag.Title = "Login";
}



    <h2>Login</h2>

<div>
    <div class="loginContainer">
        <div class="inputRow">
            <label class="inputLabel">Username</label>
            <input class="customInput"></input>
        </div>
        <div class="inputRow">
            <label class="inputLabel">Email</label>
            <input class="customInput"></input>
        </div>
        <div class="inputRow">
            <label class="inputLabel">Password</label>
            <input type="password" class="customInput"></input>
        </div>
        <div class="buttonRow">
            <button class="loginButton" style="margin: 10px;">Login</button>
            <button class="forgotButton" style="margin: 10px;">Forget Password</button>
            <button class="loginButton" style="margin: 10px;">Sign up</button>
        </div>
    </div>
</div>


